@using INVENTMAN.Entities
@inject NavigationManager NavigationManager
@if (employees != null && employees.Count > 0)
{
    @foreach (var emp in employees)
    {
       
        <tr>
            <td>@emp.Name</td>
            <td>@emp.Surname</td>
            <td>@emp.Email</td>
            <td>@emp.ManagerEmail</td>

            
            <td>
                <button class="btn btn-secondary" @onclick="@(()=> EditEmployee(emp.EmployeeId))">Edit</button>
            </td>
            
             <td>
                <button class="btn btn-secondary" @onclick="@(()=> ViewEmployeeDetailPage(emp.EmployeeId))">Details</button>
            </td>
        </tr>
    }
}

@code {
    [Parameter]
    public List<Employee> employees { get; set; } = new List<Employee>();

    public void EditEmployee(Guid employeeId)
    {
        NavigationManager.NavigateTo($"/employees/edit/{employeeId}");
    }

    public void ViewEmployeeDetailPage(Guid employeeId)
    {
        NavigationManager.NavigateTo($"/employees/{employeeId}");
    }
}
